ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border: 1px solid black;
}


li {
    padding: .35em .7em;
    border-bottom: 1px solid red;
}


li:not(:last-child) {
    border-bottom: 1px red solid
}

li:last-child {
    border-bottom: none;
}
/*
ul:first-child li:first-child {
    background: lightgreen;
}
li:last-child {
    background: lightblue;
}
li:nth-child(6) {
    background: yellow;
}
*/

/*
.my-class:nth-child(2n) {
    background: lightgreen;
}
*/

/*
:first-child -  první potomek svého rodiče
:last-chidl - poslední potomek svého rodiče
:nth-child(2) - n-tý potomek svého rodiče,
:nth-child(2n) - každý druhý potomek svého rodiče
:nth-child(even) - každý sudý potomek rodiče
:nth-child(2n + 1) - pro každý nepárný lichý element od 1
:nth-chold(odd) - pro každý lichý potomek svého rodiče

-of-type - potomek svého rodiče daného typu

:not(selektor, pseudotřída)

li:not(.my-class) - pro všechny li, která nemají třídu my-class
li:not([class]) - pro všechny li, které nemají atribut class

*/